* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

/* header */
.header {
  width: 100%;
  padding: 1.5em;
  background-color: #d2691e;
}

.title {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #faebd7;
}

/* main */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: darkgreen;
}

.slider__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 50rem;
}

.slider__radio {
  display: none;
}

.slides__wrap{
  width: 100%;
  overflow: hidden;
}

.sliders{
  display: flex;
  align-items: center;
  width: 400%;
}

.slide{
  width: 25%;
  flex-grow: 1;
  flex-shrink: 0;
}

.sliders__control{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  order: 3;
}

.slider__dot{
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-radius: 50px;
  background-color: #ffffff;
  cursor: pointer;
  transition: all .2s linear;
}

.slider__dot:hover{
  border-color: blueviolet;
}

.slider__text_wrap{
  width: 50%;
  overflow: hidden;
}
.slider__text{
  display: flex;
  align-items: center;
  width: 400%;
}

.slider__subtitle{
  flex-grow: 1;
  flex-shrink: 0;
  width: 25%;
}


.sliders,
.slider__text{
transition: .3s all linear;
}

#dot1:checked ~ .slides__wrap .sliders,
#dot1:checked ~ .slider__text_wrap .slider__text{
  transform: translateX(0);
}

#dot2:checked ~ .slides__wrap .sliders,
#dot2:checked ~ .slider__text_wrap .slider__text{
  transform: translateX(-25%);
}

#dot3:checked ~ .slides__wrap .sliders,
#dot3:checked ~ .slider__text_wrap .slider__text{
  transform: translateX(-50%);
}
#dot4:checked ~ .slides__wrap .sliders,
#dot4:checked ~ .slider__text_wrap .slider__text{
  transform: translateX(-75%);
}

#dot1:checked ~ .sliders__control .slider__dot:nth-child(1),
#dot2:checked ~ .sliders__control .slider__dot:nth-child(2),
#dot3:checked ~ .sliders__control .slider__dot:nth-child(3),
#dot4:checked ~ .sliders__control .slider__dot:nth-child(4){
  border-color: teal;
  background-color: transparent;
}
/* footer */
.footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1em 2em;
  background-color: #2f4f4f;
}

.date,
.link {
  font-size: 0.8rem;
  color: #faebd7;
}

.link {
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.link:hover {
  transform: scale(1.1);
}
